gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

app/google-services.json

extras/keystores/release.keystore
extras/keystores/release.properties