name: "[Release] Android - FirebaseAppDistribution - Develop"

on:
  push:
    tags:
      - 'v*-develop'

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# You need to uncomment [Setup - Flutter Actions with Cache] when you want to use 
# different runner then our internal M1 flutter-builds runner.
env:
  flutter_version: "3.38.5"
  java_version: "17"

jobs:
  firebase-app-distribution-build:
    name: Firebase App Distribution Build

    runs-on: ubuntu-latest
    # runs-on: [self-hosted, macOS, flutter-builds]  # use this for self-hosted runners
    timeout-minutes: 25

    steps:
      - name: '[Setup - Checkout]'
        uses: actions/checkout@v4.2.1

      - name: '[Setup - Java]'
        uses: actions/setup-java@v4.4.0
        with:
          distribution: 'zulu'
          java-version: ${{ env.java_version }}

      - name: '[Setup - Flutter Actions with Cache]'
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: ${{ env.flutter_version }}
          cache: true
          architecture: x64
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:'
          cache-path: '${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:'

      # Make sure we have latest FVM
      - name: '[FVM - Install]'
        run: dart pub global activate fvm

      # Install correct fvm version
      - name: '[FVM - Install version]'
        run: fvm install ${{ env.flutter_version }}
        
      # Install sops
      - name: '[Secrets - Setup SOPS]'
        uses: nhedger/setup-sops@v2

      # Load secrets
      - name: '[Secrets - Generate keystore and properties]'
        env:
          SECRETS_ENCRYPT_KEY: ${{ secrets.SECRETS_ENCRYPT_KEY }}
          RELEASE_KEYSTORE: ${{ secrets.RELEASE_KEYSTORE }}
          RELEASE_PROPERTIES: ${{ secrets.RELEASE_PROPERTIES }}
          FIREBASE_APP_DISTRIBUTION_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_DEV_APP_DISTRIBUTION_SERVICE_ACCOUNT }}
        run: ./extras/secrets/tools/load-secrets.sh

      # Make gen
      - name: '[Flutter - Generate code]'
        run: make gen

      - name: '[Flutter - Build APK]'
        run: fvm flutter build apk -t lib/main_develop.dart --flavor develop --obfuscate --split-debug-info=build/app/outputs/symbols

      - name: '[Flutter - Upload to Firebase App Distribution]'
        run: cd android; ./gradlew appDistributionUploadDevelopRelease; cd ..

      - name: '[Flutter - Upload Crashlytics Mapping Files]'
        run: cd android; 
             ./gradlew uploadCrashlyticsSymbolFileDevelopRelease;
             ./gradlew uploadCrashlyticsMappingFileDevelopRelease;
             cd ..


      # Only on self hosted. Cleanup the files after the build
      # - name: '[Finish - Cleanup]'
      #   run: |
      #     rm -rf ./* || true
      #     rm -rf ./.??* || true